<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
  <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;margin-left:auto;margin-right:auto;padding:2px;border-spacing:20px;
}
</style>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>用樹基相片識別下列6種樹木品種- 準確度達80% </div>
    <h1>'Ficus hispida -對葉榕'<br />'Acacia confusa -臺灣相思'<br />'Lophostemon confertus-紅膠木'<br />'Macaranga tanarius -血桐'<br />'Machilus spp -潤楠屬'<br />'Schefflera heptaphylla -鴨腳木'<br />
    </h1>
    <h2>
      樹基相片例子
    </h2>
    <table>
  <tr>
    <th>Acacia confusa -臺灣相思</th>
    <th>Machilus spp -潤楠屬</th> 
    <th>Macaranga tanarius -血桐</th>
  </tr>
  <tr>
    <td><img src="https://drive.google.com/uc?export=download&id=1Kxo1bzjBoYDXdR8AAgkgQVNoMPGrsW8l" alt="Acacia confusa -臺灣相思" style="width:200px;height:300px;"></td>
     <td><img src="https://drive.google.com/uc?export=download&id=1G_yz-gEP1IMRxxfp_BU66NqzCUVKPV39" alt="Machilus spp -潤楠屬" style="width:200px;height:300px;"></td>
    <td><img src="https://drive.google.com/uc?export=download&id=18pOIDCWfLILfg9LuRX3Sl_8wKmYo7Bwy" alt="Macaranga tanarius -血桐" style="width:200px;height:300px;"></td>
  </tr>
  
</table>
   
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
